/* || Variables */


/* || Page Layout */
* {
  margin: 0px;
  padding: 0px;
}

#app {
  max-width: 1000px;
  margin: 0 auto;
}

/* || General Styles */
body {
  box-sizing: border-box;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* || Header and Navigation */
header {
  padding: 1em 0.3em;
  margin: 0.3em;
  border-bottom: 1px solid #BBB;
}

#header {
  font-size: 2em;
  font-weight: bold;
}

#subtitle {
  font-style: italic;
}

.header-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* || Book Table */
.table {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.table-item {

}

/* || Book Item */
.table-row {
  border-bottom: 1px solid #BBB;
  display: flex;
  flex-direction: column;
  margin: 0.3em;
  padding: 0.3em 0.3em 0.9em 0.3em;
}

.table-header {
  display: none;
}

.table-cell {
  margin-bottom: 0.3em;
}

.pages, .language, .blurb, .blurb-header {
  display: none;
}

.title {
  font-weight: bold;
}

.author {
  color: #666;
}

.date {
  font-size: 0.8em;
}

/* || AddBook form */




/* || Media queries */
@media screen and (min-width: 600px) {
  .table-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .book-item {
    height: 3em;
  }

  .table-header {
    font-weight: bold;
  }

  .book-item > * {
    font-weight: normal;
  }

  .pages, .language {
    display: block;
  }

  .table-cell {
    margin: 1px;
    padding: 1px 0.5em;
    font-size: 1em;
    color: black;
    flex: 1;
    min-width: 80px;
  }

  .title, .title-header, .form-title {
    flex-grow: 4;
  }

  .author, .author-header, .form-author {
    flex-grow: 1.5;
  }

  .form-bottom {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 10em;
  }
}
